@import './variables';

// миксины
@import './_mixins.scss';

// обнуление стилей
@import './reset.scss';

// контейнер
@import './container.scss';

// оболочка
@import './wrapper.scss';

// контент
@import './content.scss';

// шрифты
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// глобальные стили
@import './global.scss';

.sed {

   // .sed__row

   &__row {
      @include breakpoint(1023px) {
         flex-wrap: wrap;
      }
   }

   // .sed__column

   &__column {
      width: 50%;


      @include breakpoint(1023px) {
         width: 100%;
         text-align: center;
      }

      &:first-child {
         @include breakpoint(1024px) {
            margin-right: 30px;

            @include breakpoint(1023px) {
               margin-right: 0px;
               margin-bottom: 30px;
            }
         }

      }

      .swiper-container {
         overflow: hidden !important;

         .swiper-wrapper {
            align-items: center !important;

            .swiper-slide {
               display: flex;
               flex-direction: column;
               align-items: end;
            }
         }

      }

      h2 {
         @include adaptiv-value('font-size',48,36,0);
         line-height: 125%;
         margin-bottom: 30px;
         text-transform: uppercase;
      }

      p {
         @include adaptiv-value('font-size',18,16,0);
         line-height: 100%;
      }

   }


   // .sed__img-main

   &__img-main {
      position: relative;
      width: 75%;

      @include breakpoint(1024px) {
         width: 100%;
      }
   }

   // .sed__block

   &__block {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 30%;
      // right: -50px;
      left: 0;
      transform: translateX(100%);
      width: 200px;
      height: 200px;
      background: #fff;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      transition: transform 0.4s ease-in-out !important;

      img{
         width: 70px;
         height: 70px;
      }

      @include breakpoint(1440px) {
         width: 150px;
         height: 150px;
         transform: translateX(160%);
      }

      @include breakpoint(1024px) {
         width: 100px;
         height: 100px;
         transform: translateX(274%);
         top: auto;
         bottom: 0;
         box-shadow: none;
         -webkit-box-shadow: none;
         -moz-box-shadow: none;
      }

      @include breakpoint(1023px) {
         transform: translateX(530%);
      }

      @include breakpoint(768px) {
         transform: translateX(305%);
      }

      @include breakpoint(375px) {
         transform: translateX(255%);
      }

      @include breakpoint(320px) {
         transform: translateX(200%);
      }

      &--active {
         transform: translateX(-10%);


         @include breakpoint(1024px) {
            transform: translateX(0%);
         }
      }
   }

}

.container {}

.d-g {}